 .inputLabel {
  font-size: 1.4rem !important;
 
} 
.inputField {
  font-size: 1.4rem !important;
  margin-bottom: 1.5rem !important;
 
} 



.btn {
  font-size: 1.5rem !important;
  margin-top: 1.2rem!important;
}

.btn:hover {
  color: #fff !important;
} 
